
<div id="courseId" class="card-container" *ngIf="course">
    <h1>
        course-card works! {{course.id + ' ' +cardIndex}} {{course.description}}
    </h1>

    <div *ngIf="isValidCourse(); else noone">
         <h1 [style.text-decoration]="'underline'">Hello</h1>
    </div>

    <ng-template #noone>
        <h1 [style]="styleUnderline()">No Hello</h1>
    </ng-template>

    <h1>
        course-card works! {{course.id+ ' ' +cardIndex}} {{course.description}}
    </h1>

<button type="button" class="btn btn-primary" (click)="OnViewImage()" [class]="cardClasses()">
    View Course
</button>

</div>

